.hero {
    background-color: #0D091E;
    margin: 0 auto;
    width: 80%;
    display: flex;
    
    p{
        color: white;
        font-size: 10px;
        margin: 5px;
    }
    img {
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 5px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 46% 100%);

        
    }

    .hero-headliner{
        background-color: rgba(0, 0, 0, 0.517);        
        color: rgb(255, 255, 255);
        font-size: 18px;
        position: absolute;
        h1{
            margin: 5px;
        }
        
      
        span{
            color: rgb(229, 69, 146);
        }

        .getStarted-btn{
            position: absolute;
            bottom: -50px;
            background-color:rgb(229, 69, 146);
            width: 100px;
            height: 30px;
            border-radius: 10px;
            border: none;
            cursor: pointer;

        }
    }

}

